<h1>Add Photos to <%= @post.title %></h1>

<% simple_form_for [@post, @picture] do |f| %>

  <%= f.input :photo %>
  <%= f.input :photo_cache, as: :hidden %>

  <%= f.submit "add photo" %>
<% end %>

<%= link_to 'Back', post_path(@post) %>
