<h1>Add Photos to <%= @post.title %></h1>

<%= simple_form_for [@post, @photo] do |f| %>

  <%= f.label :photo, "choose multiple photos" %>
  <%= f.file_field :cloud_id, multiple: true, name: "photos[]" %>

  <%= f.button :submit, "add photos" %>

<% end %>
<br>

<%= link_to 'Back', post_path(@post) %>
