<div class="home-banner index-banner">

  <h2>Photography portfolio</h2>

  <!-- scrool down button -->
  <section id="section04" class="demo">
    <a href=".card-container" data-scroll ><span></span>Scroll</a>
  </section>
</div>

<div class="card-container">
  <div class="cards">
    <% @posts.each do |post| %>
      <%= link_to post do %>
        <div class="card-category" style="background-image: url(<%= post.photos.first.cloud_id  %>)"><%= post.title %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

<br>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %> |
  <%= button_to 'Exit', destroy_user_session_path, method: :delete %>
<% end %>
