<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.title %></strong>
  <%= @post.id %>
</p>

<p>
  <% @photos.each do |photo|  %>

    <%= link_to cl_image_tag(photo.cloud_id, height: 300), post_photo_path(@post, photo) %>

    <%= link_to '[X]', post_photo_path(@post, photo), method: :delete, data: { confirm: 'Are you sure?' } %>

  <% end %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |

