<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.title %></strong>
</p>

<div class="container">
  <div class="cards">
    <% @photos.each do |photo|  %>
      <div class="card-category">
          <%= link_to cl_image_tag(photo.cloud_id, height: 300), post_photo_path(@post, photo) %>
      </div>
    <% end %>
  </div>
</div>



<%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |

